.container {
    margin-top: 2rem;

}
.alerte {
    display: none;
}
#update {    
        position: fixed;
        top: 0;
        left: 8;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        justify-content: center;
        align-items: center;
}
.genre {
  margin-left: 7rem;
}
.butto{

    margin-left:4rem;
}
